HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.env
.env.*
*.env
.env.local
.env.development
.env.production
.env.test

!.env.example
!.env.sample

*.pem
*.key
*.crt
*.secret
secrets/
config/*.secret.json


src/main/resources/firebase-service-account.json
**/firebase-service-account.json